<%- include('../adminLayout/homehead.ejs') %>

<h1 class="text-center">Update Category</h1>

<div class="container">
  <form class="mx-auto mt-5 p-4 bg-light" style="max-width: 800px;" action="/admin/editCategory?id=<%= category._id %>" method="post" enctype="application/x-www-form-urlencoded" onsubmit="return validateForm()">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="mb-3">
      <label class="form-label">Category Name</label>
      <input type="hidden" name="id" value="<%= category._id %>">
      <input type="text" name="name" id="categoryName" class="form-control" value="<%= category.name %>" />
      <small id="categoryError" class="text-danger"></small>
    </div>

    <% if (typeof errorMessage !== 'undefined') { %>
        <p style="color: rgb(128, 23, 0); font-weight: bold;">
            <%= errorMessage %>
        </p>
    <% } %>
    

    <!-- Submit button -->
    <div class="text-center">
      <button type="submit" class="btn btn-primary mt-2">Update</button>
    </div>

    <div class="text-center mt-3">
      <a href="/admin/viewCategory" class="btn btn-outline-info">Go Back to View Page</a>
    </div>
  </form>
</div>

<script>
  function validateForm() {
    var categoryName = document.getElementById("categoryName").value;
    var categoryError = document.getElementById("categoryError");

    // Reset error messages
    categoryError.textContent = "";

    // Simple validation, you can add more checks as needed
    if (categoryName.trim() === "") {
      categoryError.textContent = "Category Name is required";
      return false;
    }

    return true; // Submit the form if validation passes
  }
</script>

<%- include('../adminLayout/homefooter.ejs') %>
