<%- include('../layout/userhead.ejs') %>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <style>
        .cart-wrap {
            padding: 40px 0;
            font-family: 'Open Sans', sans-serif;
        }

        .main-heading {
            font-size: 19px;
            margin-bottom: 20px;
        }

        .table-wishlist table {
            width: 100%;
        }

        .table-wishlist thead {
            border-bottom: 1px solid #e5e5e5;
            margin-bottom: 5px;
        }

        .table-wishlist thead tr th {
            padding: 8px 0 18px;
            color: #484848;
            font-size: 15px;
            font-weight: 400;
        }

        .table-wishlist tr td {
            padding: 25px 0;
            vertical-align: middle;
        }

        .table-wishlist tr td .img-product {
            width: 72px;
            float: left;
            margin-left: 8px;
            margin-right: 31px;
            line-height: 63px;
        }

        .table-wishlist tr td .img-product img {
            width: 100%;
        }

        .table-wishlist tr td .name-product {
            font-size: 15px;
            color: #484848;
            padding-top: 8px;
            line-height: 24px;
            width: 50%;
        }

        .table-wishlist tr td.price {
            font-weight: 600;
        }

        .table-wishlist tr td .quanlity {
            position: relative;
        }

        .total {
            font-size: 24px;
            font-weight: 600;
            color: #8660e9;
        }

        .display-flex {
            display: flex;
        }

        .align-center {
            align-items: center;
        }

        .round-black-btn {
            border-radius: 25px;
            background: #212529;
            color: #fff;
            padding: 5px 20px;
            display: inline-block;
            border: solid 2px #212529;
            transition: all 0.5s ease-in-out 0s;
            cursor: pointer;
            font-size: 14px;
        }

        .round-black-btn:hover,
        .round-black-btn:focus {
            background: transparent;
            color: #212529;
            text-decoration: none;
        }

        .mb-10 {
            margin-bottom: 10px !important;
        }

        .mt-30 {
            margin-top: 30px !important;
        }

        .d-block {
            display: block;
        }

        .custom-form label {
            font-size: 14px;
            line-height: 14px;
        }

        .pretty.p-default {
            margin-bottom: 15px;
        }

        .pretty input:checked~.state.p-primary-o label:before,
        .pretty.p-toggle .state.p-primary-o label:before {
            border-color: #8660e9;
        }

        .pretty.p-default:not(.p-fill) input:checked~.state.p-primary-o label:after {
            background-color: #8660e9 !important;
        }

        .main-heading.border-b {
            border-bottom: solid 1px #ededed;
            padding-bottom: 15px;
            margin-bottom: 20px !important;
        }

        .custom-form .pretty .state label {
            padding-left: 6px;
        }

        .custom-form .pretty .state label:before {
            top: 1px;
        }

        .custom-form .pretty .state label:after {
            top: 1px;
        }

        .custom-form .form-control {
            font-size: 14px;
            height: 38px;
        }

        .custom-form .form-control:focus {
            box-shadow: none;
        }

        .custom-form textarea.form-control {
            height: auto;
        }

        .mt-40 {
            margin-top: 40px !important;
        }

        .in-stock-box {
            background: #ff0000;
            font-size: 12px;
            text-align: center;
            border-radius: 25px;
            padding: 4px 15px;
            display: inline-block;
            color: #fff;
        }

        .trash-icon {
            font-size: 20px;
            color: #212529;
        }

        .wishlist-box {
            background-color: #fff;
            border: 1px solid #111010;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }
    </style>

    <div class="mt-5 ms-5">
        <a href="/allProduct" class="btn btn-dark">BACK</a>
    </div>
    <div>
        <h1 style=" margin-left:620px;margin-top:45px">WISHLIST</h1>
      </div>

    <div class="cart-wrap">
        <div class="container">
            <div class="wishlist-box">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-heading mb-10">My wishlist</div>

                        <% if (message) { %>
                            <p>
                                <%= message %>
                            </p>
                            <% } else { %>

                                <div class="table-wishlist">
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th width="45%">Product Name</th>
                                                <th width="15%">Unit Price</th>
                                                <th width="15%">Add</th>
                                                <th width="15%"></th>
                                                <th width="10%"></th>
                                                <th width="10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (wishlist && wishlist.length> 0) { %>
                                                <% wishlist.forEach(product=> { %>
                                                    <tr>
                                                        <td width="45%">
                                                            <div class="display-flex align-center">
                                                                <div class="img-product">
                                                                    <%- console.log(product.image) %>
                                                                    <% if (product && product.image && product.image.length > 0) { %>
                                                                        <img src="/public/productImage/<%= product.image[0] %>" alt="ghj" class="">
                                                                    <% } else { %>
                                                                        <img src="/path/to/default/image.jpg" alt="Default Image" class="">
                                                                    <% } %>
                                                                </div>
                                                                <div class="name-product">
                                                                    <%= product.name || 'Product Name Not Available' %>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td width="15%" class="price"><div class="name-product">
                                                            <%= product.price || 'Product Name Not Available' %>
                                                        </div>
                                                        </td>
                                                        
                                                        <td width="15%"><a href="/add-to-cart/<%= product._id %>"><button class="round-black-btn small-btn">Add to
                                                                Cart</button></a></td>
                                                        <td width="10%" class="text-center">
                                                            <a href="/removeWishlist/<%= product._id %>" class="">
                                                                <img src="/public/photos/delete.jpg" width="30px" height="30px"></a></i>
                                                            </a>
                                                          </td>
                                                    </tr>
                                                    <% }); %>
                                                        <% } else { %>
                                                            <tr>
                                                                <td colspan="5" class="text-center">No products found in
                                                                    the wishlist</td>
                                                            </tr>
                                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>

                                <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../layout/userFoot.ejs') %>